<a href="https://colab.research.google.com/github/albertoac96/DataScience/blob/main/RDataS_Estadistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicios del capitulo 5 R for Data Science en** Python

In [10]:
import pandas as pd

In [11]:
base_url = "https://github.com/byuidatascience/data4python4ds/raw/master/data-raw/"
flights = pd.read_csv("{}flights/flights.csv".format(base_url))

# ***5.2***

In [12]:
print("A. Had an arrival delay of two or more hours")
arrival = flights.query('arr_delay >= 120')
print(arrival)

A. Had an arrival delay of two or more hours
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
119     2013      1    1     811.0             630      101.0    1047.0
151     2013      1    1     848.0            1835      853.0    1001.0
218     2013      1    1     957.0             733      144.0    1056.0
268     2013      1    1    1114.0             900      134.0    1447.0
447     2013      1    1    1505.0            1310      115.0    1638.0
...      ...    ...  ...       ...             ...        ...       ...
336579  2013      9   30    1823.0            1545      158.0    1934.0
336668  2013      9   30    1951.0            1649      182.0    2157.0
336724  2013      9   30    2053.0            1815      158.0    2310.0
336757  2013      9   30    2159.0            1845      194.0    2344.0
336763  2013      9   30    2235.0            2001      154.0      59.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
119                830      137.0      MQ    4576  N531MQ    LGA  CLT
151               1950      851.0      MQ    3944  N942MQ    JFK  BWI
218                853      123.0      UA     856  N534UA    EWR  BOS
268               1222      145.0      UA    1086  N76502    LGA  IAH
447               1431      127.0      EV    4497  N17984    EWR  RIC
...                ...        ...     ...     ...     ...    ...  ...
336579            1733      121.0      9E    3459  N916XJ    JFK  BNA
336668            1903      174.0      EV    4294  N13988    EWR  SAV
336724            2054      136.0      EV    5292  N600QX    EWR  ATL
336757            2030      194.0      9E    3320  N906XJ    JFK  BUF
336763            2249      130.0      B6    1083  N804JB    JFK  MCO

        air_time  distance  hour  minute             time_hour
119        118.0       544     6      30  2013-01-01T11:00:00Z
151         41.0       184    18      35  2013-01-01T23:00:00Z
218         37.0       200     7      33  2013-01-01T12:00:00Z
268        248.0      1416     9       0  2013-01-01T14:00:00Z
447         63.0       277    13      10  2013-01-01T18:00:00Z
...          ...       ...   ...     ...                   ...
336579      95.0       765    15      45  2013-09-30T19:00:00Z
336668      95.0       708    16      49  2013-09-30T20:00:00Z
336724      91.0       746    18      15  2013-09-30T22:00:00Z
336757      50.0       301    18      45  2013-09-30T22:00:00Z
336763     123.0       944    20       1  2013-10-01T00:00:00Z

[10200 rows x 19 columns]

In [13]:
print("B. Flew to Houston (IAH or HOU)")
flew = flights.query('dest in ["IAH", "HOU"]')
print(flew)

B. Flew to Houston (IAH or HOU)
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
32      2013      1    1     623.0             627       -4.0     933.0
81      2013      1    1     728.0             732       -4.0    1041.0
89      2013      1    1     739.0             739        0.0    1104.0
...      ...    ...  ...       ...             ...        ...       ...
336524  2013      9   30    1729.0            1720        9.0    2001.0
336527  2013      9   30    1735.0            1715       20.0    2010.0
336618  2013      9   30    1859.0            1859        0.0    2134.0
336694  2013      9   30    2015.0            2015        0.0    2244.0
336737  2013      9   30    2105.0            2106       -1.0    2329.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
32                 932        1.0      UA     496  N459UA    LGA  IAH
81                1038        3.0      UA     473  N488UA    LGA  IAH
89                1038       26.0      UA    1479  N37408    EWR  IAH
...                ...        ...     ...     ...     ...    ...  ...
336524            2010       -9.0      UA     652  N455UA    EWR  IAH
336527            2005        5.0      WN    2067  N296WN    EWR  HOU
336618            2159      -25.0      UA    1128  N14731    LGA  IAH
336694            2307      -23.0      UA    1545  N17730    EWR  IAH
336737            2354      -25.0      UA     475  N477UA    EWR  IAH

        air_time  distance  hour  minute             time_hour
0          227.0      1400     5      15  2013-01-01T10:00:00Z
1          227.0      1416     5      29  2013-01-01T10:00:00Z
32         229.0      1416     6      27  2013-01-01T11:00:00Z
81         238.0      1416     7      32  2013-01-01T12:00:00Z
89         249.0      1400     7      39  2013-01-01T12:00:00Z
...          ...       ...   ...     ...                   ...
336524     173.0      1400    17      20  2013-09-30T21:00:00Z
336527     188.0      1411    17      15  2013-09-30T21:00:00Z
336618     180.0      1416    18      59  2013-09-30T22:00:00Z
336694     174.0      1400    20      15  2013-10-01T00:00:00Z
336737     175.0      1400    21       6  2013-10-01T01:00:00Z

[9313 rows x 19 columns]

In [14]:
print("C. Were operated by United UA, American AA, or Delta D")
operated = flights.query('carrier in ["AA", "DL","UA"]')
print(operated)

C. Were operated by United UA, American AA, or Delta D
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
4       2013      1    1     554.0             600       -6.0     812.0
5       2013      1    1     554.0             558       -4.0     740.0
...      ...    ...  ...       ...             ...        ...       ...
336737  2013      9   30    2105.0            2106       -1.0    2329.0
336744  2013      9   30    2121.0            2100       21.0    2349.0
336751  2013      9   30    2140.0            2140        0.0      10.0
336755  2013      9   30    2149.0            2156       -7.0    2245.0
336762  2013      9   30    2233.0            2113       80.0     112.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
4                  837      -25.0      DL     461  N668DN    LGA  ATL
5                  728       12.0      UA    1696  N39463    EWR  ORD
...                ...        ...     ...     ...     ...    ...  ...
336737            2354      -25.0      UA     475  N477UA    EWR  IAH
336744              14      -25.0      DL    2363  N193DN    JFK  LAX
336751              40      -30.0      AA     185  N335AA    JFK  LAX
336755            2308      -23.0      UA     523  N813UA    EWR  BOS
336762              30       42.0      UA     471  N578UA    EWR  SFO

        air_time  distance  hour  minute             time_hour
0          227.0      1400     5      15  2013-01-01T10:00:00Z
1          227.0      1416     5      29  2013-01-01T10:00:00Z
2          160.0      1089     5      40  2013-01-01T10:00:00Z
4          116.0       762     6       0  2013-01-01T11:00:00Z
5          150.0       719     5      58  2013-01-01T10:00:00Z
...          ...       ...   ...     ...                   ...
336737     175.0      1400    21       6  2013-10-01T01:00:00Z
336744     296.0      2475    21       0  2013-10-01T01:00:00Z
336751     298.0      2475    21      40  2013-10-01T01:00:00Z
336755      37.0       200    21      56  2013-10-01T01:00:00Z
336762     318.0      2565    21      13  2013-10-01T01:00:00Z

[139504 rows x 19 columns]

In [15]:
print("D. Departed in summer (July, August, and September)")
summer = nov_dec = flights.query('month in [7, 8, 9]')
print(summer)

D. Departed in summer (July, August, and September)
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
250450  2013      7    1       1.0            2029      212.0     236.0
250451  2013      7    1       2.0            2359        3.0     344.0
250452  2013      7    1      29.0            2245      104.0     151.0
250453  2013      7    1      43.0            2130      193.0     322.0
250454  2013      7    1      44.0            2150      174.0     300.0
...      ...    ...  ...       ...             ...        ...       ...
336771  2013      9   30       NaN            1455        NaN       NaN
336772  2013      9   30       NaN            2200        NaN       NaN
336773  2013      9   30       NaN            1210        NaN       NaN
336774  2013      9   30       NaN            1159        NaN       NaN
336775  2013      9   30       NaN             840        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
250450            2359      157.0      B6     915  N653JB    JFK  SFO
250451             344        0.0      B6    1503  N805JB    JFK  SJU
250452               1      110.0      B6     234  N348JB    JFK  BTV
250453              14      188.0      B6    1371  N794JB    LGA  FLL
250454             100      120.0      AA     185  N324AA    JFK  LAX
...                ...        ...     ...     ...     ...    ...  ...
336771            1634        NaN      9E    3393     NaN    JFK  DCA
336772            2312        NaN      9E    3525     NaN    LGA  SYR
336773            1330        NaN      MQ    3461  N535MQ    LGA  BNA
336774            1344        NaN      MQ    3572  N511MQ    LGA  CLE
336775            1020        NaN      MQ    3531  N839MQ    LGA  RDU

        air_time  distance  hour  minute             time_hour
250450     315.0      2586    20      29  2013-07-02T00:00:00Z
250451     200.0      1598    23      59  2013-07-02T03:00:00Z
250452      66.0       266    22      45  2013-07-02T02:00:00Z
250453     143.0      1076    21      30  2013-07-02T01:00:00Z
250454     297.0      2475    21      50  2013-07-02T01:00:00Z
...          ...       ...   ...     ...                   ...
336771       NaN       213    14      55  2013-09-30T18:00:00Z
336772       NaN       198    22       0  2013-10-01T02:00:00Z
336773       NaN       764    12      10  2013-09-30T16:00:00Z
336774       NaN       419    11      59  2013-09-30T15:00:00Z
336775       NaN       431     8      40  2013-09-30T12:00:00Z

[86326 rows x 19 columns]

In [16]:
print("E. Arrived more than two hours late, but didn’t leave late")
late = flights.query('arr_delay > 120 & dep_delay <= 0')
print(late)

E. Arrived more than two hours late, but didn’t leave late
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
22911   2013      1   27    1419.0            1420       -1.0    1754.0
33011   2013     10    7    1350.0            1350        0.0    1736.0
33019   2013     10    7    1357.0            1359       -2.0    1858.0
41075   2013     10   16     657.0             700       -3.0    1258.0
55985   2013     11    1     658.0             700       -2.0    1329.0
152766  2013      3   18    1844.0            1847       -3.0      39.0
180893  2013      4   17    1635.0            1640       -5.0    2049.0
181270  2013      4   18     558.0             600       -2.0    1149.0
181327  2013      4   18     655.0             700       -5.0    1213.0
213693  2013      5   22    1827.0            1830       -3.0    2217.0
214512  2013      5   23    1810.0            1810        0.0    2208.0
226434  2013      6    5    1604.0            1615      -11.0    2041.0
235033  2013      6   14    1708.0            1710       -2.0    2227.0
244329  2013      6   24    1602.0            1605       -3.0    2134.0
247568  2013      6   27    2052.0            2100       -8.0      13.0
249957  2013      6   30    1423.0            1425       -2.0    1816.0
250689  2013      7    1     905.0             905        0.0    1443.0
256340  2013      7    7    1659.0            1700       -1.0    2050.0
256358  2013      7    7    1727.0            1730       -3.0    2203.0
256373  2013      7    7    1746.0            1755       -9.0    2133.0
256405  2013      7    7    1823.0            1830       -7.0    2201.0
270742  2013      7   22    1555.0            1600       -5.0    2139.0
270752  2013      7   22    1606.0            1615       -9.0    2056.0
270762  2013      7   22    1628.0            1630       -2.0    2151.0
276564  2013      7   28    1710.0            1711       -1.0    2248.0
287148  2013      8    8    1457.0            1500       -3.0    1828.0
291439  2013      8   13     657.0             659       -2.0    1015.0
305985  2013      8   28    1157.0            1200       -3.0    1520.0
325764  2013      9   19     656.0             700       -4.0    1037.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
22911             1550      124.0      MQ    3728  N1EAMQ    EWR  ORD
33011             1526      130.0      EV    5181  N611QX    LGA  MSN
33019             1654      124.0      AA    1151  N3CMAA    LGA  DFW
41075             1056      122.0      B6       3  N703JB    JFK  SJU
55985             1015      194.0      VX     399  N629VA    JFK  LAX
152766            2219      140.0      UA     389  N560UA    JFK  SFO
180893            1845      124.0      MQ    4540  N721MQ    LGA  DTW
181270             850      179.0      AA     707  N3EXAA    LGA  DFW
181327             950      143.0      AA    2083  N565AA    EWR  DFW
213693            2010      127.0      MQ    4674  N518MQ    LGA  CLE
214512            2000      128.0      MQ    4626  N525MQ    LGA  CMH
226434            1840      121.0      MQ    4657  N510MQ    LGA  ATL
235033            2015      132.0      AA     181  N320AA    JFK  LAX
244329            1916      138.0      DL     706   N3768    JFK  AUS
247568            2210      123.0      US    2144  N952UW    LGA  BOS
249957            1554      142.0      B6    2402  N206JB    JFK  BUF
250689            1223      140.0      DL    1057  N337NB    LGA  MIA
256340            1823      147.0      US    2183  N948UW    LGA  DCA
256358            1951      132.0      F9     837  N263AV    LGA  DEN
256373            1921      132.0      B6    1407  N374JB    JFK  IAD
256405            1955      126.0      MQ    3486  N724MQ    LGA  BNA
270742            1938      121.0      DL     141  N713TW    JFK  SFO
270752            1831      145.0      DL    1619  N970DL    LGA  MSP
270762            1939      132.0      B6     423  N625JB    JFK  LAX
276564            2039      129.0      B6     167  N510JB    JFK  OAK
287148            1624      124.0      US    2185  N746UW    LGA  DCA
291439             814      121.0      EV    4522  N14188    EWR  BNA
305985            1316      124.0      US    2179  N737US    LGA  DCA
325764             833      124.0      UA     331  N808UA    LGA  ORD

        air_time  distance  hour  minute             time_hour
22911      135.0       719    14      20  2013-01-27T19:00:00Z
33011      117.0       812    13      50  2013-10-07T17:00:00Z
33019      192.0      1389    13      59  2013-10-07T17:00:00Z
41075      225.0      1598     7       0  2013-10-16T11:00:00Z
55985      336.0      2475     7       0  2013-11-01T11:00:00Z
152766     386.0      2586    18      47  2013-03-18T22:00:00Z
180893     130.0       502    16      40  2013-04-17T20:00:00Z
181270     234.0      1389     6       0  2013-04-18T10:00:00Z
181327     230.0      1372     7       0  2013-04-18T11:00:00Z
213693      90.0       419    18      30  2013-05-22T22:00:00Z
214512      82.0       479    18      10  2013-05-23T22:00:00Z
226434     158.0       762    16      15  2013-06-05T20:00:00Z
235033     334.0      2475    17      10  2013-06-14T21:00:00Z
244329     247.0      1521    16       5  2013-06-24T20:00:00Z
247568      46.0       184    21       0  2013-06-28T01:00:00Z
249957      80.0       301    14      25  2013-06-30T18:00:00Z
250689     183.0      1096     9       5  2013-07-01T13:00:00Z
256340      64.0       214    17       0  2013-07-07T21:00:00Z
256358     236.0      1620    17      30  2013-07-07T21:00:00Z
256373      78.0       228    17      55  2013-07-07T21:00:00Z
256405     113.0       764    18      30  2013-07-07T22:00:00Z
270742     371.0      2586    16       0  2013-07-22T20:00:00Z
270752     140.0      1020    16      15  2013-07-22T20:00:00Z
270762     332.0      2475    16      30  2013-07-22T20:00:00Z
276564     353.0      2576    17      11  2013-07-28T21:00:00Z
287148      70.0       214    15       0  2013-08-08T19:00:00Z
291439     146.0       748     6      59  2013-08-13T10:00:00Z
305985      63.0       214    12       0  2013-08-28T16:00:00Z
325764     192.0       733     7       0  2013-09-19T11:00:00Z

In [17]:
print("F. Were delayed by at least an hour, but made up over 30 minutes in flight")
hours = flights.query('dep_delay >= 60 & dep_delay - arr_delay > 30')
print(hours)

F. Were delayed by at least an hour, but made up over 30 minutes in flight
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
815     2013      1    1    2205.0            1720      285.0      46.0
832     2013      1    1    2326.0            2130      116.0     131.0
2286    2013      1    3    1503.0            1221      162.0    1803.0
2508    2013      1    3    1839.0            1700       99.0    2056.0
2522    2013      1    3    1850.0            1745       65.0    2148.0
...      ...    ...  ...       ...             ...        ...       ...
336572  2013      9   30    1818.0            1715       63.0    2001.0
336579  2013      9   30    1823.0            1545      158.0    1934.0
336674  2013      9   30    1956.0            1825       91.0    2208.0
336704  2013      9   30    2028.0            1910       78.0    2255.0
336762  2013      9   30    2233.0            2113       80.0     112.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
815               2040      246.0      AA    1999  N5DNAA    EWR  MIA
832                 18       73.0      B6     199  N594JB    JFK  LAS
2286              1555      128.0      UA     551  N835UA    EWR  SFO
2508              1950       66.0      AA     575  N631AA    JFK  EGE
2522              2120       28.0      AA     177  N332AA    JFK  SFO
...                ...        ...     ...     ...     ...    ...  ...
336572            1940       21.0      9E    3310  N934XJ    JFK  MCI
336579            1733      121.0      9E    3459  N916XJ    JFK  BNA
336674            2121       47.0      DL    1576  N3772H    JFK  SAN
336704            2215       40.0      AA      21  N338AA    JFK  LAX
336762              30       42.0      UA     471  N578UA    EWR  SFO

        air_time  distance  hour  minute             time_hour
815        146.0      1085    17      20  2013-01-01T22:00:00Z
832        290.0      2248    21      30  2013-01-02T02:00:00Z
2286       320.0      2565    12      21  2013-01-03T17:00:00Z
2508       239.0      1747    17       0  2013-01-03T22:00:00Z
2522       314.0      2586    17      45  2013-01-03T22:00:00Z
...          ...       ...   ...     ...                   ...
336572     142.0      1113    17      15  2013-09-30T21:00:00Z
336579      95.0       765    15      45  2013-09-30T19:00:00Z
336674     292.0      2446    18      25  2013-09-30T22:00:00Z
336704     294.0      2475    19      10  2013-09-30T23:00:00Z
336762     318.0      2565    21      13  2013-10-01T01:00:00Z

[1844 rows x 19 columns]

In [18]:
print("G. Departed between midnight and 6am (inclusive)")
g = flights.query('dep_time <= 600 | dep_time == 2400')
print(g)

G. Departed between midnight and 6am (inclusive)
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
3       2013      1    1     544.0             545       -1.0    1004.0
4       2013      1    1     554.0             600       -6.0     812.0
...      ...    ...  ...       ...             ...        ...       ...
335802  2013      9   30     557.0             600       -3.0     852.0
335803  2013      9   30     558.0             600       -2.0     815.0
335804  2013      9   30     558.0             600       -2.0     742.0
335805  2013      9   30     559.0             600       -1.0       NaN
335806  2013      9   30     600.0             600        0.0     844.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
3                 1022      -18.0      B6     725  N804JB    JFK  BQN
4                  837      -25.0      DL     461  N668DN    LGA  ATL
...                ...        ...     ...     ...     ...    ...  ...
335802             923      -31.0      UA     303  N510UA    JFK  SFO
335803             829      -14.0      EV    4137  N16981    EWR  ATL
335804             749       -7.0      DL     731  N337NB    LGA  DTW
335805             715        NaN      WN     464  N411WN    EWR  MDW
335806             856      -12.0      B6     601  N588JB    JFK  FLL

        air_time  distance  hour  minute             time_hour
0          227.0      1400     5      15  2013-01-01T10:00:00Z
1          227.0      1416     5      29  2013-01-01T10:00:00Z
2          160.0      1089     5      40  2013-01-01T10:00:00Z
3          183.0      1576     5      45  2013-01-01T10:00:00Z
4          116.0       762     6       0  2013-01-01T11:00:00Z
...          ...       ...   ...     ...                   ...
335802     326.0      2586     6       0  2013-09-30T10:00:00Z
335803     107.0       746     6       0  2013-09-30T10:00:00Z
335804      83.0       502     6       0  2013-09-30T10:00:00Z
335805       NaN       711     6       0  2013-09-30T10:00:00Z
335806     139.0      1069     6       0  2013-09-30T10:00:00Z

[9373 rows x 19 columns]

# **5.3**

In [19]:
#5.3.1
#How could you use arrange() to sort all missing values to the start? (Hint: use is.na()).
print("How could you use sort() to sort all missing values to the start? (Hint: use isna()).")
a = flights.sort_values(by=['dep_time'], na_position='first')
print(a)

How could you use sort() to sort all missing values to the start? (Hint: use isna()).
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
838     2013      1    1       NaN            1630        NaN       NaN
839     2013      1    1       NaN            1935        NaN       NaN
840     2013      1    1       NaN            1500        NaN       NaN
841     2013      1    1       NaN             600        NaN       NaN
1777    2013      1    2       NaN            1540        NaN       NaN
...      ...    ...  ...       ...             ...        ...       ...
169005  2013      4    4    2400.0            2355        5.0     347.0
54966   2013     10   30    2400.0            2359        1.0     327.0
87893   2013     12    5    2400.0            2359        1.0     427.0
159422  2013      3   25    2400.0            2355        5.0     339.0
100795  2013     12   19    2400.0            2359        1.0     434.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
838               1815        NaN      EV    4308  N18120    EWR  RDU
839               2240        NaN      AA     791  N3EHAA    LGA  DFW
840               1825        NaN      AA    1925  N3EVAA    LGA  MIA
841                901        NaN      B6     125  N618JB    JFK  FLL
1777              1747        NaN      EV    4352  N10575    EWR  CVG
...                ...        ...     ...     ...     ...    ...  ...
169005             345        2.0      B6     739  N508JB    JFK  PSE
54966              337      -10.0      B6     839  N661JB    JFK  BQN
87893              440      -13.0      B6    1503  N587JB    JFK  SJU
159422             340       -1.0      B6     739  N612JB    JFK  PSE
100795             440       -6.0      B6    1503  N561JB    JFK  SJU

        air_time  distance  hour  minute             time_hour
838          NaN       416    16      30  2013-01-01T21:00:00Z
839          NaN      1389    19      35  2013-01-02T00:00:00Z
840          NaN      1096    15       0  2013-01-01T20:00:00Z
841          NaN      1069     6       0  2013-01-01T11:00:00Z
1777         NaN       569    15      40  2013-01-02T20:00:00Z
...          ...       ...   ...     ...                   ...
169005     199.0      1617    23      55  2013-04-05T03:00:00Z
54966      182.0      1576    23      59  2013-10-31T03:00:00Z
87893      182.0      1598    23      59  2013-12-06T04:00:00Z
159422     200.0      1617    23      55  2013-03-26T03:00:00Z
100795     193.0      1598    23      59  2013-12-20T04:00:00Z

[336776 rows x 19 columns]

In [20]:
print("Sort flights to find the most delayed flights. Find the flights that left earliest.")
b = flights.sort_values(by=['dep_delay'], ascending=False)
print(b)

Sort flights to find the most delayed flights. Find the flights that left earliest.
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
7072    2013      1    9     641.0             900     1301.0    1242.0
235778  2013      6   15    1432.0            1935     1137.0    1607.0
8239    2013      1   10    1121.0            1635     1126.0    1239.0
327043  2013      9   20    1139.0            1845     1014.0    1457.0
270376  2013      7   22     845.0            1600     1005.0    1044.0
...      ...    ...  ...       ...             ...        ...       ...
336771  2013      9   30       NaN            1455        NaN       NaN
336772  2013      9   30       NaN            2200        NaN       NaN
336773  2013      9   30       NaN            1210        NaN       NaN
336774  2013      9   30       NaN            1159        NaN       NaN
336775  2013      9   30       NaN             840        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
7072              1530     1272.0      HA      51  N384HA    JFK  HNL
235778            2120     1127.0      MQ    3535  N504MQ    JFK  CMH
8239              1810     1109.0      MQ    3695  N517MQ    EWR  ORD
327043            2210     1007.0      AA     177  N338AA    JFK  SFO
270376            1815      989.0      MQ    3075  N665MQ    JFK  CVG
...                ...        ...     ...     ...     ...    ...  ...
336771            1634        NaN      9E    3393     NaN    JFK  DCA
336772            2312        NaN      9E    3525     NaN    LGA  SYR
336773            1330        NaN      MQ    3461  N535MQ    LGA  BNA
336774            1344        NaN      MQ    3572  N511MQ    LGA  CLE
336775            1020        NaN      MQ    3531  N839MQ    LGA  RDU

        air_time  distance  hour  minute             time_hour
7072       640.0      4983     9       0  2013-01-09T14:00:00Z
235778      74.0       483    19      35  2013-06-15T23:00:00Z
8239       111.0       719    16      35  2013-01-10T21:00:00Z
327043     354.0      2586    18      45  2013-09-20T22:00:00Z
270376      96.0       589    16       0  2013-07-22T20:00:00Z
...          ...       ...   ...     ...                   ...
336771       NaN       213    14      55  2013-09-30T18:00:00Z
336772       NaN       198    22       0  2013-10-01T02:00:00Z
336773       NaN       764    12      10  2013-09-30T16:00:00Z
336774       NaN       419    11      59  2013-09-30T15:00:00Z
336775       NaN       431     8      40  2013-09-30T12:00:00Z

[336776 rows x 19 columns]

In [21]:
b2 = flights.sort_values(by=['dep_delay'], ascending=True)
print(b2)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
89673   2013     12    7    2040.0            2123      -43.0      40.0
113633  2013      2    3    2022.0            2055      -33.0    2240.0
64501   2013     11   10    1408.0            1440      -32.0    1549.0
9619    2013      1   11    1900.0            1930      -30.0    2233.0
24915   2013      1   29    1703.0            1730      -27.0    1947.0
...      ...    ...  ...       ...             ...        ...       ...
336771  2013      9   30       NaN            1455        NaN       NaN
336772  2013      9   30       NaN            2200        NaN       NaN
336773  2013      9   30       NaN            1210        NaN       NaN
336774  2013      9   30       NaN            1159        NaN       NaN
336775  2013      9   30       NaN             840        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
89673             2352       48.0      B6      97  N592JB    JFK  DEN
113633            2338      -58.0      DL    1715  N612DL    LGA  MSY
64501             1559      -10.0      EV    5713  N825AS    LGA  IAD
9619              2243      -10.0      DL    1435  N934DL    LGA  TPA
24915             1957      -10.0      F9     837  N208FR    LGA  DEN
...                ...        ...     ...     ...     ...    ...  ...
336771            1634        NaN      9E    3393     NaN    JFK  DCA
336772            2312        NaN      9E    3525     NaN    LGA  SYR
336773            1330        NaN      MQ    3461  N535MQ    LGA  BNA
336774            1344        NaN      MQ    3572  N511MQ    LGA  CLE
336775            1020        NaN      MQ    3531  N839MQ    LGA  RDU

        air_time  distance  hour  minute             time_hour
89673      265.0      1626    21      23  2013-12-08T02:00:00Z
113633     162.0      1183    20      55  2013-02-04T01:00:00Z
64501       52.0       229    14      40  2013-11-10T19:00:00Z
9619       139.0      1010    19      30  2013-01-12T00:00:00Z
24915      250.0      1620    17      30  2013-01-29T22:00:00Z
...          ...       ...   ...     ...                   ...
336771       NaN       213    14      55  2013-09-30T18:00:00Z
336772       NaN       198    22       0  2013-10-01T02:00:00Z
336773       NaN       764    12      10  2013-09-30T16:00:00Z
336774       NaN       419    11      59  2013-09-30T15:00:00Z
336775       NaN       431     8      40  2013-09-30T12:00:00Z

[336776 rows x 19 columns]

In [22]:
print("Sort flights to find the fastest (highest speed) flights.")
c = flights.sort_values(by=['air_time'], ascending=True)
#Another definition of the “fastest flight” is the flight with the highest average ground speed.
#The ground speed is not included in the data, but it can be calculated from the distance and air_time of the flight.
print(c)

Sort flights to find the fastest (highest speed) flights.
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
176604  2013      4   13     537.0             527       10.0     622.0
13524   2013      1   16    1355.0            1315       40.0    1442.0
296418  2013      8   18    1129.0            1138       -9.0    1206.0
113682  2013      2    3    2153.0            2129       24.0    2247.0
121615  2013      2   12    2123.0            2130       -7.0    2211.0
...      ...    ...  ...       ...             ...        ...       ...
336771  2013      9   30       NaN            1455        NaN       NaN
336772  2013      9   30       NaN            2200        NaN       NaN
336773  2013      9   30       NaN            1210        NaN       NaN
336774  2013      9   30       NaN            1159        NaN       NaN
336775  2013      9   30       NaN             840        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
176604             628       -6.0      EV    4631  N12167    EWR  BDL
13524             1411       31.0      EV    4368  N16911    EWR  BDL
296418            1234      -28.0      EV    4577  N18101    EWR  BDL
113682            2224       23.0      EV    4619  N13913    EWR  PHL
121615            2225      -14.0      EV    4619  N12921    EWR  PHL
...                ...        ...     ...     ...     ...    ...  ...
336771            1634        NaN      9E    3393     NaN    JFK  DCA
336772            2312        NaN      9E    3525     NaN    LGA  SYR
336773            1330        NaN      MQ    3461  N535MQ    LGA  BNA
336774            1344        NaN      MQ    3572  N511MQ    LGA  CLE
336775            1020        NaN      MQ    3531  N839MQ    LGA  RDU

        air_time  distance  hour  minute             time_hour
176604      20.0       116     5      27  2013-04-13T09:00:00Z
13524       20.0       116    13      15  2013-01-16T18:00:00Z
296418      21.0       116    11      38  2013-08-18T15:00:00Z
113682      21.0        80    21      29  2013-02-04T02:00:00Z
121615      21.0        80    21      30  2013-02-13T02:00:00Z
...          ...       ...   ...     ...                   ...
336771       NaN       213    14      55  2013-09-30T18:00:00Z
336772       NaN       198    22       0  2013-10-01T02:00:00Z
336773       NaN       764    12      10  2013-09-30T16:00:00Z
336774       NaN       419    11      59  2013-09-30T15:00:00Z
336775       NaN       431     8      40  2013-09-30T12:00:00Z

[336776 rows x 19 columns]

In [23]:
print("Which flights travelled the farthest? Which travelled the shortest?")
d = flights.sort_values(by=['distance'], ascending=False)
print(d)

Which flights travelled the farthest? Which travelled the shortest?
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
50676   2013     10   26    1004.0            1000        4.0    1435.0
108078  2013     12   28     933.0             930        3.0    1520.0
100067  2013     12   19     924.0             930       -6.0    1450.0
179566  2013      4   16     953.0            1000       -7.0    1443.0
30229   2013     10    4     954.0            1000       -6.0    1438.0
...      ...    ...  ...       ...             ...        ...       ...
6972    2013      1    8    2127.0            2130       -3.0    2304.0
26874   2013      1   31    2129.0            2129        0.0    2234.0
164109  2013      3   30    1942.0            1950       -8.0    2026.0
22334   2013      1   26    1621.0            1617        4.0    1705.0
275945  2013      7   27       NaN             106        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
50676             1450      -15.0      HA      51  N386HA    JFK  HNL
108078            1535      -15.0      HA      51  N384HA    JFK  HNL
100067            1535      -45.0      HA      51  N386HA    JFK  HNL
179566            1510      -27.0      HA      51  N381HA    JFK  HNL
30229             1450      -12.0      HA      51  N380HA    JFK  HNL
...                ...        ...     ...     ...     ...    ...  ...
6972              2225       39.0      EV    4619  N11194    EWR  PHL
26874             2224       10.0      EV    3271  N13553    EWR  PHL
164109            2044      -18.0      EV    4457  N12569    EWR  PHL
22334             1722      -17.0      EV    4616  N14153    EWR  PHL
275945             245        NaN      US    1632     NaN    EWR  LGA

        air_time  distance  hour  minute             time_hour
50676      608.0      4983    10       0  2013-10-26T14:00:00Z
108078     633.0      4983     9      30  2013-12-28T14:00:00Z
100067     609.0      4983     9      30  2013-12-19T14:00:00Z
179566     631.0      4983    10       0  2013-04-16T14:00:00Z
30229      618.0      4983    10       0  2013-10-04T14:00:00Z
...          ...       ...   ...     ...                   ...
6972        30.0        80    21      30  2013-01-09T02:00:00Z
26874       28.0        80    21      29  2013-02-01T02:00:00Z
164109      24.0        80    19      50  2013-03-30T23:00:00Z
22334       27.0        80    16      17  2013-01-26T21:00:00Z
275945       NaN        17     1       6  2013-07-27T05:00:00Z

[336776 rows x 19 columns]

In [24]:
d2 = flights.sort_values(by=['distance'], ascending=True)
print(d2)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
275945  2013      7   27       NaN             106        NaN       NaN
3083    2013      1    4    1240.0            1200       40.0    1333.0
16328   2013      1   19    1617.0            1617        0.0    1722.0
112178  2013      2    1    2128.0            2129       -1.0    2216.0
19983   2013      1   23    2128.0            2129       -1.0    2221.0
...      ...    ...  ...       ...             ...        ...       ...
99112   2013     12   18     928.0             930       -2.0    1543.0
223207  2013      6    2     956.0            1000       -4.0    1442.0
151311  2013      3   17    1006.0            1000        6.0    1607.0
218562  2013      5   28     953.0            1000       -7.0    1447.0
289650  2013      8   11     950.0            1000      -10.0    1438.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
275945             245        NaN      US    1632     NaN    EWR  LGA
3083              1306       27.0      EV    4193  N14972    EWR  PHL
16328             1722        0.0      EV    4616  N12540    EWR  PHL
112178            2224       -8.0      EV    4619  N13969    EWR  PHL
19983             2224       -3.0      EV    4619  N12135    EWR  PHL
...                ...        ...     ...     ...     ...    ...  ...
99112             1535        8.0      HA      51  N395HA    JFK  HNL
223207            1435        7.0      HA      51  N383HA    JFK  HNL
151311            1530       37.0      HA      51  N380HA    JFK  HNL
218562            1500      -13.0      HA      51  N385HA    JFK  HNL
289650            1440       -2.0      HA      51  N391HA    JFK  HNL

        air_time  distance  hour  minute             time_hour
275945       NaN        17     1       6  2013-07-27T05:00:00Z
3083        30.0        80    12       0  2013-01-04T17:00:00Z
16328       34.0        80    16      17  2013-01-19T21:00:00Z
112178      24.0        80    21      29  2013-02-02T02:00:00Z
19983       23.0        80    21      29  2013-01-24T02:00:00Z
...          ...       ...   ...     ...                   ...
99112      641.0      4983     9      30  2013-12-18T14:00:00Z
223207     617.0      4983    10       0  2013-06-02T14:00:00Z
151311     686.0      4983    10       0  2013-03-17T14:00:00Z
218562     631.0      4983    10       0  2013-05-28T14:00:00Z
289650     628.0      4983    10       0  2013-08-11T14:00:00Z

[336776 rows x 19 columns]

# **5.4**

In [25]:
#Brainstorm as many ways as possible to select dep_time, dep_delay, arr_time, and arr_delay from flights.
a1 = flights.filter(['dep_time', 'dep_delay', 'arr_time', 'arr_delay'])
a2 = flights.loc[:, ['dep_time', 'dep_delay', 'arr_time', 'arr_delay']]
a = a1.rename(columns = {'dep_time': 'tiempo_salida', 'dep_delay':'retraso_salida', 'arr_time': 'tiempo_llegada', 'arr_delay':'retraso_llegada'})
print(a)

        tiempo_salida  retraso_salida  tiempo_llegada  retraso_llegada
0               517.0             2.0           830.0             11.0
1               533.0             4.0           850.0             20.0
2               542.0             2.0           923.0             33.0
3               544.0            -1.0          1004.0            -18.0
4               554.0            -6.0           812.0            -25.0
...               ...             ...             ...              ...
336771            NaN             NaN             NaN              NaN
336772            NaN             NaN             NaN              NaN
336773            NaN             NaN             NaN              NaN
336774            NaN             NaN             NaN              NaN
336775            NaN             NaN             NaN              NaN

[336776 rows x 4 columns]

In [26]:
print(a1)

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

In [27]:
print(a2)

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

In [32]:
# What happens if you include the name of a variable multiple times in a filter() call?
repeat = flights.filter(['dep_time', 'dep_delay', 'arr_time', 'arr_delay', 'arr_time', 'dep_delay'])
print(repeat)

        dep_time  dep_delay  arr_time  arr_delay  arr_time  dep_delay
0          517.0        2.0     830.0       11.0     830.0        2.0
1          533.0        4.0     850.0       20.0     850.0        4.0
2          542.0        2.0     923.0       33.0     923.0        2.0
3          544.0       -1.0    1004.0      -18.0    1004.0       -1.0
4          554.0       -6.0     812.0      -25.0     812.0       -6.0
...          ...        ...       ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN       NaN        NaN

[336776 rows x 6 columns]

In [ ]:
# What does the any_of() function do? Why might it be helpful in conjunction with this vector?
# vars <- c("year", "month", "day", "dep_delay", "arr_delay")

In [29]:
vars = ["year", "month", "day", "dep_delay", "arr_delay"]
data = flights[vars] #Crea un nuevo dataframe solo con las columnas especificadas en vars
print(data)

        year  month  day  dep_delay  arr_delay
0       2013      1    1        2.0       11.0
1       2013      1    1        4.0       20.0
2       2013      1    1        2.0       33.0
3       2013      1    1       -1.0      -18.0
4       2013      1    1       -6.0      -25.0
...      ...    ...  ...        ...        ...
336771  2013      9   30        NaN        NaN
336772  2013      9   30        NaN        NaN
336773  2013      9   30        NaN        NaN
336774  2013      9   30        NaN        NaN
336775  2013      9   30        NaN        NaN

[336776 rows x 5 columns]

In [34]:
# Does the result of running the following code surprise you? How do the select helpers deal with case by default? How can you change that default?
# flights.filter(regex = "TIME")
resultado = flights.filter(like="time") # Si hay una distincion entre mayusculas y minusculas
print(resultado)

        dep_time  sched_dep_time  arr_time  sched_arr_time  air_time  \
0          517.0             515     830.0             819     227.0
1          533.0             529     850.0             830     227.0
2          542.0             540     923.0             850     160.0
3          544.0             545    1004.0            1022     183.0
4          554.0             600     812.0             837     116.0
...          ...             ...       ...             ...       ...
336771       NaN            1455       NaN            1634       NaN
336772       NaN            2200       NaN            2312       NaN
336773       NaN            1210       NaN            1330       NaN
336774       NaN            1159       NaN            1344       NaN
336775       NaN             840       NaN            1020       NaN

                   time_hour
0       2013-01-01T10:00:00Z
1       2013-01-01T10:00:00Z
2       2013-01-01T10:00:00Z
3       2013-01-01T10:00:00Z
4       2013-01-01T11:00:00Z
...                      ...
336771  2013-09-30T18:00:00Z
336772  2013-10-01T02:00:00Z
336773  2013-09-30T16:00:00Z
336774  2013-09-30T15:00:00Z
336775  2013-09-30T12:00:00Z

[336776 rows x 6 columns]

In [35]:
#Primero hay que convertir a minusculas los titulos de cada columna y crea una variable con ellos
columnas = [col for col in flights.columns if 'TIME' in col.upper()]
#Busca esos nombres de columnas (en minusculas) en el dataframe
resultado2 = flights[columnas]
print(resultado2)

        dep_time  sched_dep_time  arr_time  sched_arr_time  air_time  \
0          517.0             515     830.0             819     227.0
1          533.0             529     850.0             830     227.0
2          542.0             540     923.0             850     160.0
3          544.0             545    1004.0            1022     183.0
4          554.0             600     812.0             837     116.0
...          ...             ...       ...             ...       ...
336771       NaN            1455       NaN            1634       NaN
336772       NaN            2200       NaN            2312       NaN
336773       NaN            1210       NaN            1330       NaN
336774       NaN            1159       NaN            1344       NaN
336775       NaN             840       NaN            1020       NaN

                   time_hour
0       2013-01-01T10:00:00Z
1       2013-01-01T10:00:00Z
2       2013-01-01T10:00:00Z
3       2013-01-01T10:00:00Z
4       2013-01-01T11:00:00Z
...                      ...
336771  2013-09-30T18:00:00Z
336772  2013-10-01T02:00:00Z
336773  2013-09-30T16:00:00Z
336774  2013-09-30T15:00:00Z
336775  2013-09-30T12:00:00Z

[336776 rows x 6 columns]

# **5.5**

In [36]:
# Currently dep_time and sched_dep_time are convenient to look at, but hard to compute with because they’re not really continuous numbers.
# Convert them to a more convenient representation of number of minutes since midnight.
flights['dep_time_mins'] = (flights['dep_time'] // 100 * 60 + flights['dep_time'] % 100) % 1440
flights['sched_dep_time_mins'] = (flights['sched_dep_time'] // 100 * 60 + flights['sched_dep_time'] % 100) % 1440
nuevo = flights.filter(['flights_times', 'dep_time', 'dep_time_mins', 'sched_dep_time', 'sched_dep_time_mins'])
print(nuevo)

        dep_time  dep_time_mins  sched_dep_time  sched_dep_time_mins
0          517.0          317.0             515                  315
1          533.0          333.0             529                  329
2          542.0          342.0             540                  340
3          544.0          344.0             545                  345
4          554.0          354.0             600                  360
...          ...            ...             ...                  ...
336771       NaN            NaN            1455                  895
336772       NaN            NaN            2200                 1320
336773       NaN            NaN            1210                  730
336774       NaN            NaN            1159                  719
336775       NaN            NaN             840                  520

[336776 rows x 4 columns]

In [ ]:
#Compare air_time with arr_time - dep_time. What do you expect to see? What do you see? What do you need to do to fix it?